# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite cache
.vite/

# Local env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
.DS_Store

# Build output
dist/
out/

# Dependency directories
jspm_packages/
