*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --colorpr: #0d1541;
}

body{
  background-color: var(--colorpr);
  color: #fff;
  overflow-x: hidden;
}

.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  line-height: 80px;
  background-color: #0000003a;
}

.header .title{
  font-size: 2rem;
}

.header .logo{
  padding: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;

}

.header #menu{
  position: absolute;
  right: 10%;
  top: 20%;
}

#menu{
  cursor: pointer;
}

.present{
  display: grid;
}

.present{
  background-image: url(path/bg1.png);
  background-size: cover;
  background-position: bottom;
  object-fit: contain;
  position: relative;
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* 
.present p{
  width: 40%;
  color: #F4C2C2;
} */

.present div img{
  width: 150px;
  background-position: center;
  position: absolute;
  cursor: pointer;
  left: 40%;
  bottom: 10px;
}

.present .ui{
  position: absolute;
  right: 10%;
  top: 30%;
  width: 200px;
  height: 150px;
  background-color: transparent;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.present .ui span:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.present .ui span:nth-child(2){
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.present .ui span:nth-child(2) svg{
  cursor: pointer;
}

.present .ui span:nth-child(2) svg:nth-child(1):hover{
  transform: translate(-30px, -15.0px);
  transition: ease-in-out 500ms;
}.present .ui span:nth-child(2) svg:nth-child(2):hover{
  transform: translate(0px, -15.0px);
  transition: ease-in-out 500ms;
}.present .ui span:nth-child(2) svg:nth-child(3):hover{
  transform: translate(30px, -15.0px);
  transition: ease-in-out 500ms;
}

.present .ui span:nth-child(1) span:nth-child(1){
  background-color: #311f8169;
  padding: 5px;
  border-radius: 10px;
}

.present .ui span:nth-child(1) span:nth-child(2){
  margin-top: 25px;
  display: flex;
  gap: 10px;
}

.present .ui span:nth-child(1) span:nth-child(2) button{
  height: 30px;
  width: 80px;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 9999px;
  background: transparent;
  overflow: hidden;
  position: relative;
  z-index: 1; /* Le texte reste au-dessus */
}

.present .ui span:nth-child(1) span:nth-child(2) button::before {
  content: "";
  position: absolute;
  z-index: 0; /* L'arrière-plan passe en dessous */
  width: 0%;
  height: 100%;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
  border-radius: 9999px;
}

.present .ui span:nth-child(1) span:nth-child(2) a:nth-child(1) button{
  border: 2px solid #cf1a75;
  color: #fff;
  box-shadow: 2px 5px 0px #000;
  position: relative;
}

.present .ui span:nth-child(1) span:nth-child(2) a:nth-child(2) button{
  border: 2px solid #f8f0f4;
  color: #fff;
  box-shadow: 2px 5px 0px #125e68;
  position: relative;
}

.present .ui span:nth-child(1) span:nth-child(2) button:nth-child(1):before{
  background: linear-gradient(to right, #d400ff63, rgb(6, 9, 196));
}

.present .ui span:nth-child(1) span:nth-child(2) button:nth-child(2):before{
  background: linear-gradient(to right, #1977ad, rgb(0, 4, 255));
}

.present .ui span:nth-child(1) span:nth-child(2) button:hover::before{
  inset: 0;
  border-radius: 9999px;
  width: 100%;
  transition: linear 500ms;
}

.infos{
  position: absolute;
  top: 200px;
  width: 35%;
  left: 10%;
  font-size: 1rem;
  text-shadow: 4px 5px 0px #0d1541;
}

mark{
  background-color: transparent;
  color: #cf1a75;
  text-shadow: 4px 5px 0px #0d1541;
}


/*_________________ Petit ecran _______________*/

@media screen and (max-width: 700px) {

  .header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    line-height: 50px;
    background-color: #0000003a;
  }  

  .header .logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
  
  }

  .header #menu{
    position: absolute;
    right: 5%;
  }
  
  .header .title{
    font-size: 1.5rem;
  }
  
.navbar{
  margin-right: -100%;
  position: absolute;
  color: white;
  z-index: 1;
  right: 0;
  width: 30%;
  top: 100px;
}
.navbar.mobile {
  margin-right: 0;
  transition: ease-in 400ms;
}

.navbar ul{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navbar ul a{
  text-decoration: none;
  color: #ffffff;
  opacity: .5;
  margin-right: -100%;
}

.navbar.mobile ul a:nth-child(1){
  animation: open 400ms forwards;
}
.navbar.mobile ul a:nth-child(2){
  animation: open 600ms forwards;
}
.navbar.mobile ul a:nth-child(3){
  animation: open 800ms forwards;
}
.navbar.mobile ul a:nth-child(4){
  animation: open 1000ms forwards;
}
.navbar.mobile ul a:nth-child(5){
  animation: open 1200ms forwards;
}

@keyframes open {
  0%{
     margin-top: -100%;
  }
  100%{
     margin-top: 0%;
  }
}

.navbar ul a:hover{
  transition:  ease-in 100ms;
  text-decoration: underline;
  opacity: 1;
}

.navbar ul a li{
  font-size: 1.5rem;
}

}

.present .ui{
  display: none;
}

/* _________________Grand ecran__________________ */


@media screen and (min-width: 700px) {
  .header #menu{
    display: none;
  }

  .present{
    background-image: url(path/bg1.png);
    background-size: cover;
    background-position: bottom;
    object-fit: contain;
    position: relative;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
  }

  .present .ui{
    position: absolute;
    right: 10%;
    top: 30%;
    width: 200px;
    height: 150px;
    background-color: transparent;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .navbar{
    display: flex;
    position: absolute;
    right: 20px;
  }

  .navbar ul{
    display: flex;
    list-style: none;
    gap: 15px;
  }

  .navbar ul a{
    text-decoration: none;
    color: #ffffff;
    opacity: .5;
  }

  .navbar ul a:hover{
    transition:  ease-in 100ms;
    text-decoration: underline;
    opacity: 1;
  }

  .navbar ul a li{
    font-size: 1.2rem;
  }
  .present div img{
    width: 150px;
    background-position: center;
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    left: 40%;
    /* animation: meani 3s infinite; */
  }

}





















.animated-img {
  transition: transform 0.8s ease;
}

.animated-img:hover {
  transform: scale(1.1) rotate(-360deg);
}


/*_____________ INFOMATIONS______________ */

.about{
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about div img{
  background: url(path/téléchargement.png);
  border-top-left-radius: 40px;
  width: 200px;
  cursor: pointer;
}

.card-infos{
  display: flex;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

.card-infos .p{
  background: linear-gradient(to top, #3a57d4, #131a4e);
  box-shadow: 5px 5px 0px #cf1a75;
  line-height: 30px;
  max-width: 25rem;
  min-width: 2rem;
  border-radius: 15px;
  text-align: center;
}

.card-infos .p:hover{
  box-shadow: -5px 5px 5px #cf1a75;
}